#jinja2: lstrip_blocks: True
---
{% if services is defined %}
{% if services['icmp'] is defined or services['http'] is defined %}
modules:
  {% if services['icmp'] is defined %}
  {{ services['icmp']['mod'] }}:
    prober: icmp
    icmp:
      preferred_ip_protocol: ip4
  {% endif %}
  {% if services['http'] is defined %}
  {{ services['http']['mod'] }}:
    prober: http
    timeout: 5s
    http:
      valid_status_codes: []
      method: GET
  {% endif %}
{% endif %}
{% endif %}