#jinja2: lstrip_blocks: True
---
{%- if oids is defined and credentials is defined -%}
{% set common_mib_lst = [] %}
{% if oids["_default_values"] is defined -%}
{% if oids["_default_values"]['oids'] is defined -%}
{% for oid_lst in oids["_default_values"]['oids'] -%}
{{ common_mib_lst.append(oid_lst['oid']) }}
{% endfor -%}
{% endif -%}
{% endif -%}
modules:
{% for module_name, oid_lst in oids.items() %}
{% if module_name != "_common_mib" %}
  {{ module_name }}:
    version: {{ credentials[module_name]['snmp_version'] }}
    max_repetitions: {{ credentials['max_repetitions'] }}
    retries: {{ credentials['retries'] }}
    timeout: {{ credentials['timeout'] }}
    auth:
      {% if credentials[module_name]['snmp_version'] == 2 or credentials[module_name]['snmp_version'] == 1 %}
      community: {{ credentials[module_name]['community'] }}
      {% else %}
      username: {{ credentials[module_name]['username'] }}
      security_level: {{ credentials[module_name]['security_level'] }}
      password: {{ credentials[module_name]['password'] }}
      auth_protocol: {{ credentials[module_name]['auth_protocol'] }}
      priv_protocol: {{ credentials[module_name]['priv_protocol'] }}
      priv_password: {{ credentials[module_name]['priv_password'] }}
      context_name: {{ credentials[module_name]['context_name'] }}
      {% endif %}
    lookups:
      - source_indexes: [ifIndex]
        lookup: ifDescr
      - source_indexes: [ifIndex]
        lookup: 1.3.6.1.2.1.31.1.1.1.1 # ifName
    overrides:
      ifDescr:
        ignore: true
      ifName:
        ignore: true
    walk:
      {% if oids[module_name]['oids'] is defined %}
      {% for oid_obj in oids[module_name]['oids'] %}
      - {{ oid_obj['oid'] }}
      {% endfor %}
      {% endif %}
      {% if  common_mib_lst|length > 0 %}
      {% for oid in common_mib_lst %}
      - {{ oid }}
      {% endfor %}
      {% endif %}
{% endif %}
{% endfor %}
{% endif %}
