#jinja2: lstrip_blocks: True
---
{% if (hosts is defined or nodes_exporter is defined)  and infra is defined and services is defined and oids is defined %}
scrape_configs:
{% for service, svc_facts in services.items() %}
{% if service != 'node' %}
{% for module_name, hosts_lst in hosts.items() %}
{% set run = [] %}
{% for temp_host in hosts_lst %}
{% if run|length == 0 %}
{% if service == 'http' %}
{% if temp_host[service] is defined and temp_host[service] == true %}
{{ run.append("OK") }}
{% endif %}
{% else %}
{% if temp_host[service] is not defined or temp_host[service] == true %}
{{ run.append("OK") }}
{% endif %}
{% endif %}
{% endif %}
{% endfor %}
{% if run | length > 0 %}
  - job_name: '{{ module_name.upper() }}-{{ service.upper() }}'
    metrics_path: {{ svc_facts['path'] }}
    {% if oids[module_name]['scrape_interval'] is defined %}
    scrape_interval: {{ oids[module_name]['scrape_interval'] }}
    {% elif oids['_default_values']['scrape_interval'] is defined %}
    scrape_interval: {{  oids['_default_values']['scrape_interval'] }}
    {% endif %}
    {% if oids[module_name]['scrape_timeout'] is defined %}
    scrape_timeout: {{ oids[module_name]['scrape_timeout'] }}
    {% elif oids['_default_values']['scrape_timeout'] is defined %}
    scrape_timeout: {{ oids['_default_values']['scrape_timeout'] }}
    {% endif %}
    params:
      module: [{% if service == "icmp" or service == "http" %}{{ svc_facts['mod'] }}{% else %}{{ module_name }}{% endif %}]
    relabel_configs:
      - source_labels: [__address__]
        target_label: __param_target
      - source_labels: [__param_target]
        target_label: instance
      - target_label: __address__
        replacement: {% if infra[svc_facts['run_on']]['dns'] is defined %}{{ infra[svc_facts['run_on']]['dns'] }}{% else %}{{ infra[svc_facts['run_on']]['ip'] }}{% endif %}:{{ infra[svc_facts['run_on']]['port'] }}
    static_configs:
      - targets:
          {% for host in hosts_lst %}
          {% if host[service] is not defined or host[service] == true %}
          {% if host['ip'] is defined %}
          - {{ host['ip'] }}
          {% else %}
          - {{ host['name'] }}
          {% endif %}
          {% endif %}
          {% endfor %}
{% endif %}
{% endfor %}

{% elif service == 'node' %}
  {% if nodes_exporter is defined and nodes_exporter|length > 0 %}
  - job_name: 'NODES-EXPORTER'
    metrics_path: {{ svc_facts['path'] }}
    static_configs:
      - targets:
        {% for node in nodes_exporter %}
        {% if node['dns'] is defined %}
        - {{ node['dns'] }}:{% if node['port'] is defined %}{{ node['port'] }}{% else %}9100{% endif %}
        
        {% elif node['ip'] is defined %}
        - {{ node['ip'] }}:{% if node['port'] is defined %}{{ node['port'] }}{% else %}9100{% endif %}

        {% endif %}
        {% endfor %}
  {% endif %}      
{% endif %}
{% endfor %}
{% endif %}
